<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심층 분석</title>
</head>
<style>
    
</style>
<body>
    <header class="header">
        <nav class="navigation d:flex align-items:center pv:3 bg-color:base-0 box-shadow:b1">
            <div class="img-block ml:3">
                <a href="/index.html">
                    <img class="pulmuone" src="/image/pulmuone.png" alt="x">
                </a>
                </div>
            <ul class="d:flex gap:8 font-weight:600 ml:250">
                <li><a class="font-size:1" href="/prediction.html">Forecasting</a></li>
                <li><a class="font-size:1" href="/analysis.html">Analysis</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>