<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>

<body>
    <header class="header" th:fragment="header">
        <nav class="navigation d:flex align-items:center pv:3 bg-color:base-0 box-shadow:b1">
            <div class="img-block ml:3">
                <a href="/index.html">
                    <img class="pulmuone" src="/image/pulmuone.png" alt="x">
                </a>
                </div>
            <ul class="d:flex gap:8 font-weight:600">
                <li><a class="" href="/prediction.html">Forecasting</a></li>
                <li><a class="" href="/analysis.html">Analysis</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>